<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bitmark.registry">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.VIBRATE"/>

  <application
      android:name=".RegistryApplication"
      android:icon="${appIcon}"
      android:label="@string/app_name"
      android:largeHeap="true"
      android:roundIcon="${appIconRound}"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:node="merge">

    <activity
        android:name=".feature.splash.SplashActivity"
        android:screenOrientation="portrait">

      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

    </activity>

    <activity
        android:name=".feature.main.MainActivity"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        >
      <intent-filter>

        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data
            android:host="authorization"
            android:scheme="@string/chibi_scheme"/>
      </intent-filter>

    </activity>

    <activity
        android:name=".feature.property_detail.PropertyDetailActivity"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"/>

    <activity
        android:name=".feature.scan_qr_code.ScanQrCodeActivity"
        android:screenOrientation="portrait"
        android:stateNotNeeded="true"
        tools:replace="android:screenOrientation"/>

    <activity
        android:name=".feature.WebViewActivity"
        android:screenOrientation="portrait"/>

    <activity
        android:name=".feature.register.RegisterContainerActivity"
        android:screenOrientation="portrait"/>

    <activity
        android:name=".feature.account.details.WhatsNewActivity"
        android:screenOrientation="portrait"/>

    <activity
        android:name=".feature.issuance.issuance.IssuanceActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"/>

    <activity
        android:name=".feature.partner_authorization.PartnerAuthorizationActivity"
        android:screenOrientation="portrait"/>

    <activity
        android:name=".feature.music_claiming.MusicClaimingActivity"
        android:screenOrientation="portrait"
        />

    <activity
        android:name=".feature.transfer.TransferActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"/>

    <activity
        android:name=".feature.issuance.issuance.PropertyDescriptionActivity"
        android:screenOrientation="portrait"/>

    <activity
        android:name="com.bitmark.registry.feature.cloud_service_sign_in.CloudServiceSignInActivity"
        android:launchMode="singleInstance"
        android:screenOrientation="portrait"/>

    <!-- Firebase message service -->
    <service
        android:name=".feature.notification.AppFirebaseMessageService"
        android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT"/>
      </intent-filter>
    </service>

    <service android:name=".feature.notification.DeleteFirebaseInstanceIdService"/>

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/ic_notification"/>

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/colorAccent"/>
    <!-- End Firebase message service -->

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.file_provider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/filepaths"/>
    </provider>

  </application>

</manifest>